.card-row {
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin: 50px 0;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 120px;
    color: black;
    border: 2px black solid;
    padding: 0 15px;
    border-radius: 50px;
}

.card-number {
    font-size: 85px;
}

.card-label {
    font-size: 35px;
}

/* Animation: Right → Left for Row 1 */
@keyframes moveRightLeft {
    0% {
        transform: translateX(18%);
    }

    100% {
        transform: translateX(-18%);
    }
}

/* Animation: Left → Right for Row 2 */
@keyframes moveLeftRight {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(20%);
    }
}

.scroll-right-left {
    animation: moveRightLeft 5s linear infinite;
}

.scroll-left-right {
    animation: moveLeftRight 5s linear infinite;
}


@media (min-width: 600px) and (max-width: 992px) {
    .card {
        width: 300px;
        height: 110px;
        padding: 0 12px;
        border-radius: 40px;
    }

    .card-number {
        font-size: 70px;
    }

    .card-label {
        font-size: 30px;
    }
}

@media (max-width: 992px) {

    h2,
    h1 {
        margin-left: 0 !important;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .card-row {
        display: none;
    }
}