
/* ---- DEFAULT (TABLET FIRST) ---- */
.card-scroll-section {
    background: #fae0dc;
    color: black;
    overflow: hidden;
    text-align: center;
    /* min-width: 100vw; */
}

/* Hide on Mobile */
@media (max-width: 767px) {
    .card-scroll-section {
        display: none;
    }
}

.title-block h2 {
    font-size: 28px;
    font-weight: 700;
}

.title-block h1 {
    margin-top: -5px;
    font-size: 22px;
    font-weight: 600;
}

.card-row {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 60px;
    transform: translateX(0);
}

.card-row.reverse {
    transform: translateX(-25%);
}

.card-item {
    display: flex;
    align-items: center;
    /* justify-content: "between"; */
    opacity: 8pt;
    height: 120px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 0 70pt;
}

.card-number {
    font-size: 50px;
    font-weight: bold;

}

.card-label {
    font-size: 20px;
}

/* ---- DESKTOP ---- */
@media (min-width: 1024px) {
    .card-scroll-section {
        width: 100vw;
    }

    .card-number {
        font-size: 85px;
    }

    .card-label {
        font-size: 32px;
    }

    .card-row.reverse {
        transform: translateX(-35%);
    }
}

@media (min-width: 768px) {
    .card-scroll-section {
        width: 100vw;
    }
}