.container {
  display: flex;
  height: 700pt;
}

/* LEFT PANEL */
.left {
  width: 60%;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Rotating foreground image */
.rotate-img {
  position: absolute;
  width: 600px;
  font-weight: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: earthSpin 5s linear infinite; */
}

@keyframes earthSpin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* RIGHT PANEL */
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 130vh;
}

.box {
  background: #111;
  color: white;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #fff;
}

.box:hover {
  border: 1px solid #333;
  background: white;
  color: black;
  font-size: 50pt;
}

.bottom {
  background: black;
}

@media (max-width: 767px) {
  .container {
  flex-direction: row;
  }
}