.hero-section {
    background-image: url('imgi_1_11062b_06a590f6ee434c96bb2d3a467d8dadd3~mv2.jpg');
    background-repeat: no-repeat;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center 20%;
    z-index: 1;
}

.top-bar {
    position: absolute;
    margin-left: 35pt;
    margin-top: 18px;
    top: 0;
    left: 0;
    width: 90%;
    border-radius: 25px;
    background-color: #ff8c4a;
    z-index: 8;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 13pt;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 1;
    margin-right: 30%;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.content-overlay {
    position: relative;
    z-index: 5;
    padding: 0 25pt;
    margin-top: -20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-button {
    background-color: #f757e7;
    color: #000000;
    padding: 24px 24px;
    font-size: 26px;
    font-weight: 500;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main-title {
    font-size: 5.5em;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: -30px;
    margin-top: 140px;
}

.subtitle {
    font-size: 1.5em;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 40px;
}

.chat-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #3b9e84;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    z-index: 100;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border: 2px solid white;
}

@media (max-width: 768px) {
    .chat-button {
        bottom: 15px;
        /* right: 50%; */
        transform: translateX(50%);
        /* padding: 10px 30px; */
        font-size: 0.9em;
        border: 2px solid white;
    }
}

@keyframes shadowMove {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}