.hero-section {
    position: relative;
    min-height: 100vh;
    min-width: 80vh;
    background-image: url('first.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
    padding: 15px;
}

/* Top Navigation */
.top-bar {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: #ff8c4a;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: end;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Content */
.content-overlay {
    margin-top: 60px;
}

.main-title {
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-weight: 800;
    line-height: 1.2;
}

.subtitle {
    font-size: clamp(0.9rem, 2.5vw, 1.6rem);
    line-height: 1.4;
    font-weight: 400;
}

/* Button */
.cta-button {
    background-color: #f757e7;
    color: #000;
    padding: 14px 30px;
    font-size: 1.2rem;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.cta-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(247, 87, 231, 0.4);
}

/* Floating Chat Button */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3b9e84;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 30px;
    border: 2px solid white;
    z-index: 999;
    color: white;
    text-decoration: none;
}

/* Desktop View */
@media (min-width: 1024px) {
    .hero-section {
        background-image: url(first.jpg);
        min-height: 110vh;
        width:922pt;
    }

    .top-bar {
        position: relative;
        width: 50%;
    }

    .content-overlay {
        margin-left: 5%;
        text-align: left;
        max-width: 600px;
    }
}
