.responsive-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.number-text {
    font-size: 130pt;
    font-family: "Didot", serif;
    color: transparent;
    animation: moveBG 11s linear infinite;
}

.number-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

@media (max-width: 600px) {

    .responsive-container {
        height: 120vh !important;
        width: 100%;
    }

    .number-box {
        gap: 8px;
    }

    .number-text {
        font-size: 45pt !important;
        margin-left: 20px !important;
    }

    .number-caption {
        font-size: 12px !important;
        text-align: center;
        width: 120px;
    }

    .star-container {
        transform: scale(0.5);
    }
}

@media (min-width: 601px) and (max-width: 992px) {

    .number-text {
        font-size: 80pt !important;
        margin-left: 30px !important;
    }

    .number-caption {
        font-size: 16px !important;
        width: 160px;
    }

    .star-container {
        transform: scale(0.75);
    }
}

@keyframes moveBG {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}